@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

img{
  max-width: 100%;
}

body {
  background-color: #f0f0f0;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: 0 0 0 60px;
  height: 80px;
}

header img {
  width: 80px;
  height: auto;
}

header h1{
  margin-right: 40px;
}

.container ul {
  display: flex;
}

.container ul li{
margin-right: 30px;

}

header .container {
  display: flex;
  align-items: center;
}

.contact{
  width: 200px;
  height: 80px;
  line-height: 80px;
  background-color: #000;
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
}


@media(max-width: 900px) {
  
}


/* main */

main img {
  width: 100%;
  height: 257px;
  object-fit: cover;
}