@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

li {
  list-style: none;
}

img{
  max-width: 100%;
  display: block;
}

a{
  text-decoration: none;
  color: #000;
}

body {
  background-color: #f0f0f0;
}

.section-title .ja{
  display: block;
  font-size: 0.85rem;
  margin-bottom: 36px;
}

.wapper{
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

header img {
  width: auto;
  height: 26px;
}

.header-left{
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.container ul {
  display: flex;
  align-items: center;
  padding-left: 17%;
}

.container ul li{
margin-right: 30px;
}

header a{
  font-size: 0.87rem;
}

.contact{
  width: 200px;
  height: 80px;
  line-height: 80px;
  background-color: #000;
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
}

.contact:hover{
  background-color: #333;
}


@media(max-width: 900px) {
  
}


/* main */

#mainvisual{
  width: 100%;
  height: auto;
  margin-bottom: 120px;
}

#mainvisual img{
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

/* news */

#news {
  padding: 0 16px;
  margin-bottom: 120px;
}

#news .section-title{
  font-weight: normal;
  line-height: 1;
  margin-bottom: 50px;
}

#news .section-title .en{
  display: block;
  font-size: 2.25rem;
  letter-spacing: 0.3em;
  margin-bottom: 10px;
}

#news .list{
  display: flex;
  justify-content: space-between;
}

#news .list li{
  width: calc(100% / 3);
  border-right: solid 1px #000;
  padding: 10px 20px;
}

#news .list li:first-child {
  padding-left: 0;
}

#news .list li:last-child {
  border-right: none;
  padding-right: 0;
}

#news .list li .date-area{
  margin-bottom: 16px;
}

#news .list li .date-area span{
  width: 50px;
  height: 20px;
  line-height: 20px;
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  margin-left: 10px;
  text-align: center;
}